@keyframes fadein {
  0%   {opacity: 0; }
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}


.inline-block{
  display:inline-block;
}

.mxa{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.my1{
  margin-top: 1em;
  margin-bottom: 1em;
}
.my2{
  margin-top: 2em;
  margin-bottom: 2em;
}
.my3{
  margin-top: 3em;
  margin-bottom: 3em;
}
.my4{
  margin-top: 4em;
  margin-bottom: 4em;
}
.my5{
  margin-top: 5em;
  margin-bottom: 5em;
}
.my6{
  margin-top: 6em;
  margin-bottom: 6em;
}

.mx1{
  margin-left: 1em;
  margin-right: 1em;
}
.mx2{
  margin-left: 2em;
  margin-right: 2em;
}
.mx3{
  margin-left: 3em;
  margin-right: 3em;
}
.mx4{
  margin-left: 4em;
  margin-right: 4em;
}
.mx5{
  margin-left: 5em;
  margin-right: 5em;
}
.mx6{
  margin-left: 6em;
  margin-right: 6em;
}

.ml1{
  margin-left: 1em;
}

.ml2{
  margin-left: 2em;
}

.ml3{
  margin-left: 3em;
}

.ml4{
  margin-left: 4em;
}

.ml5{
  margin-left: 5em;
}

.ml6{
  margin-left: 6em;
}

.mr1{
  margin-right: 1em;
}
.mr2{
  margin-right: 2em;
}
.mr3{
  margin-right: 3em;
}
.mr4{
  margin-right: 4em;
}
.mr5{
  margin-right: 5em;
}
.mr6{
  margin-right: 6em;
}



.pointer{
  cursor: pointer;
}

.hover-view-parent>.hover-target{
  display:none;
  opacity: 0;
  transition:opacity 0.35s;
}

.hover-view-parent:hover>.hover-target{
  display: unset;
  margin: 2px;
  opacity: 1;
}


